@import "tailwindcss";

@theme {
  --color-background-main: #f7f2eb;
  --color-background-surface: #ffffff;
  --color-background-muted: #eadfce;

  --color-text-primary: #2b1d14;
  --color-text-secondary: #6b5e55;
  --color-text-muted: #aca9a1;

  --color-brand: #895824;
  --color-brand-hover: #6f451d;

  --color-accent: #cba135;

  --color-border: #eadfce;
  --color-border-soft: #f2eae0;

  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;

  --animate-float: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

body {
  background-color: var(--color-background-main);
  color: var(--color-text-primary);
}
